# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = James Blachly
#	email = blac96@cancer-f5rdy12.osumc.edu
name = James Blachly
email = james.blachly@gmail.com
[push]
	default = simple
